<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link  rel="stylesheet" href="/css/styles.css"/>   
    
    </head>

    <body>
        <div class=
  "main-content">
        {{>header}}
        {{!-- <h3>{{title}}</h3> --}}
        <p>This site was developed by Manish Bisht.It uses data from mapbox.com and weatherstack.com!</p>
        <img src="/images/manish.jpeg" class="portrait"/>
    {{!-- <p>{{name}}</p> --}}
</div>
    {{>footer}}
    </body>
</html>